.main-container__category-select {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	height: 30vH;
}

.category-select__component{
	height: 20vH;
	font-size: 2vH;
	width: fit-content;
	justify-items: center;
	text-align: center;
}

.category-select__component-image {
	height: 14vH;
	width: 14vH;
	margin-left: auto;
	margin-right: auto;
}