.main-container__category-select {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	height: 30vH;
}

.category-select__component{
	height: 20vH;
	font-size: 2vH;
	width: fit-content;
	justify-items: center;
	text-align: center;
}

.category-select__component-image {
	height: 14vH;
	width: 14vH;
	margin-left: auto;
	margin-right: auto;
}

.price-slider__range-container {
	width: 400px;
	position: relative;
	margin: 15px 0 30px 0;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background: transparent; 
	position: absolute;
	left: 0;
 }
 
 input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #36b37e;
	cursor: pointer;
	margin-top: -5px;
	position: relative;
	z-index: 1;
 }
 
 input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	background: #e8e8e8;
	border-radius: 3px;
	border: none;
 }

 .main-container__product-container {
	display: grid;
	grid-template-columns: 1fr 6fr;
 }

 /* .product-container__product-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
 }

 .product-list-container__product-card {
	display: flex;
	flex-direction: row;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	padding: 1vw
 }

 .product-list__product-list-container {
	margin: 1vh 0 1vh 0;
 }

 .product-list-container__product-item {
	margin: 2vh 0 2vh 0;
	border: 2px solid black;
	border-radius: 20px;
 }

 .product-card__product-image {
	width: 6vw;
	height: 100%;
 }

 .product-list__sorter-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 6vw 0 12vw
 }

 .product-card__product-name {
	width: 10vw;
	flex-shrink: 2;
 } */